# PostgreSQL Connection Information
# ==================================

HOST=192.168.1.12
PORT=5432
DATABASE=DBLAB
USER=your_postgres_username
PASSWORD=your_postgres_password

# Script to execute
SCRIPT=bd/init-db.sql
